<h1>Todo Tracker</h1> 
<ul>
  <% @files.each do |name| %>
    <li>
    	<a href="/<%= name %>"><%= name %></a>
    	<a href="/<%= name %>/edit">Edit</a>
    </li>
  <% end %>
</ul>
<a href="/new">New Document</a>