<form action="/users/signin" method="post">
	<dl>
		<dd>
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" size="20">
		</dd>
		<dd>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" size="20">
		</dd>
		<dd>
			<input type="submit" value="Sign In">
		</dd>	
	</dl>
</form>